1. Find the largest number from the given list, use for loop.

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
largest=0
for i in numbers:
    if largest < i:
        largest=i
print(f"Largest number in the given list is: {largest}")

Largest number in the given list is: 525

2. Print all the even number between (1, 12).

In [ ]:

for i in range(1,13):
    if not i%2==0:
        print(i)

1
3
5
7
9
11

3. Calculate the sum of all numbers from 1 to a given number

Expected Output:

Enter number 10

Sum is: 55

In [ ]:
num=int(input("Enter a integer number: "))
sum=0
for i in range(1,num+1):
    sum+=i              #adding each number in list with sum
print(f"Sum is: {sum}")

Enter a integer number: 10
Sum is: 55

4. Write a program to display only those numbers from a list that satisfy the following conditions

    The number must be divisible by five

    If the number is greater than 150, then skip it and move to the next number

    If the number is greater than 500, then stop the loop

    #given
    numbers = [12, 75, 150, 180, 145, 525, 50]
# New Section

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:

    if i % 5 ==0:
        if i > 500:
            break
        if i>150:
            continue
        print(i)

75
150
145

5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]
for i in reversed(list1):
    print(i,end=" ")

50 40 30 20 10