1.What is indentation error? Why indentation is important? Give one simple example?

An indentation error is a type of syntax error that occurs when the code block is not properly indented

Indentation is important because it helps to improve the readability and organization of code.

In [ ]:
My_Name_is = input()
     print(f"Your name is = {My_Name_is} ")

2.Correct the following code and write the comment where you made the correction?

In [ ]:
class_started = input("Hey friend, is class started?: [0-False/1-True]") #bool has removed

if class_started == "0" or class_started == "False": #Add if condition for checking 0 or false and convert it into empty string
   class_started = ""

   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]
Since class is not started...
let's revise

3.Use if else condition to verify that dataype of input() method in python is always string.

In [ ]:
Your_Name = input("What is your name :")

if type(Your_Name) == str:
  print(type(Your_Name))
  print("It is a string")
else:
  print("It is Not a string")

What is your name :"l"
<class 'str'>
It is a string

4.Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [ ]:
A= 100
B= 300
C= 200

if A< B:
  if B< C:
    print("C is greater")
  else:
    print("B is greater")
else:
  print("A is greater")

B is greater

5.What would be the solution?

  1.True

  2.False

In [ ]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

ans: False

6.Find the answer as well as find out the reason behind the result? -

In [ ]:
#Case 1
 A = 5.0
  B = 10/2
  print(A is B)
  # False
  # A is a float Data type and B is arithematic . Thus Both are different
  # The A and B values are different thus the address also different

IndentationError: ignored

In [ ]:
# Case 2
  A = 5.0
  B = int(10/2)
  print(A is B)
 # False
  # A is a float type and B is an integer type casted thus it will show error

In [ ]:
#Case 3
 A = 5.0
  B = float(10/2)
  print(A is B)
 # False
  # type casted to float

[link text](https://)### Try to understand the following examples and answer the question based on it -

**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples -

```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

7.Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [ ]:
number = int(input("Please enter the number to check for the divisibility by 3 or 5 : "))

if number % 3 ==0  or number % 5 == 0:
  print("The number is either divisible by 3 or 5")
else:
  print("The number is not divisble by 3 or 5")

8.
Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [ ]:
length = int(input("Please enter the length in metres: "))
width = int(input("Please enter the width in metres: "))

area= length * width

if (length == width):
  print(f"As the length {length} metre and width {width} metres are same so it is a square")

else:
  print(f"The area of the rectangle with length {length} metres and width {width} metres is : {area} sq. metres")

Please enter the length in metres: 15
Please enter the width in metres: 14
The area of the rectangle with length 15 metres and width 14 metres is : 210 sq. metres

9.Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [ ]:
radius_1 = int(input("Please enter the radius of the 1st circle in mts : "))
radius_2 = int(input("Please enter the radius of the 2nd circle in mts : "))

area_circle_1 =  radius_1 ** 2
area_circle_2 =  radius_2 ** 2

if area_circle_1 == area_circle_2:
  print("Both the circles have equal Area")
else:
  if area_circle_1 > area_circle_2:
    print(f"Circle one has larger area of {area_circle_1} sq mts ")
  else:
    print(f"Circle two has larger area of {area_circle_2} sq. mts ")

10.Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [ ]:
leap_year = 2050

if leap_year % 4 == 0 :
  if leap_year % 400 ==0:
    print("It is a leap year")
  else:
    print("Not a leap year")
else:
  print("It is not a leap year")

It is not a leap year